{:paths   ["src/main" "resources"]

 :deps    {org.clojure/clojure          {:mvn/version "1.12.0"}
           com.fulcrologic/fulcro       {:mvn/version "3.9.0-rc11"}
           com.fulcrologic/fulcro-rad   {:mvn/version "1.6.18"}
           com.fulcrologic/fulcro-rad-semantic-ui {:mvn/version "1.4.7"}
           com.fulcrologic/fulcro-i18n {:mvn/version "1.1.2"}
           com.fulcrologic/statecharts {:mvn/version "1.2.22"}
           com.fulcrologic/fulcro-inspect {:mvn/version "1.0.5"}

           ;; Local checkout of the datalevin plugin
           us.whitford/fulcro-rad-datalevin {:local/root "/Users/mwhitford/src/fulcro-rad-datalevin"}

           ;; Pathom3
           com.wsscode/pathom3           {:mvn/version "2025.01.16-alpha"}
           edn-query-language/eql        {:mvn/version "2021.07.18"}

           ;; HTTP Server
           ring/ring-core                {:mvn/version "1.14.1"}
           ring/ring-defaults            {:mvn/version "0.6.0"}
           http-kit/http-kit             {:mvn/version "2.8.1"}
           hiccup/hiccup                 {:mvn/version "1.0.5"}

           ;; Utilities
           com.taoensso/timbre           {:mvn/version "6.6.1"}
           mount/mount                   {:mvn/version "0.1.23"}
           cljc.java-time/cljc.java-time {:mvn/version "0.1.18"}
           com.fulcrologic/guardrails    {:mvn/version "1.2.9"}

           ;; Unified logging for server
           org.slf4j/log4j-over-slf4j    {:mvn/version "2.0.17"}
           org.slf4j/jul-to-slf4j        {:mvn/version "2.0.17"}
           org.slf4j/jcl-over-slf4j      {:mvn/version "2.0.17"}
           com.fzakaria/slf4j-timbre     {:mvn/version "0.4.1"}}

 :aliases {:dev      {:extra-paths ["src/dev"]
                      :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.5.0"}}
                      :jvm-opts    ["--enable-native-access=ALL-UNNAMED" "-Drad.dev=true"]}

           :cljs     {:extra-deps {org.clojure/clojurescript                       {:mvn/version "1.12.35"}
                                   thheller/shadow-cljs                            {:mvn/version "2.28.23"}
                                   com.fasterxml.jackson.core/jackson-core         {:mvn/version "2.20.0"}
                                   com.google.javascript/closure-compiler-unshaded {:mvn/version "v20240317"}
                                   com.fulcrologic/semantic-ui-wrapper             {:mvn/version "2.1.4"}
                                   binaryage/devtools                              {:mvn/version "1.0.7"}}}

           :test     {:extra-paths ["src/test"]
                      :extra-deps  {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
                      :jvm-opts    ["--enable-native-access=ALL-UNNAMED"]}
           :run-tests {:extra-paths ["src/test"]
                       :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
                       :jvm-opts ["--enable-native-access=ALL-UNNAMED"]
                       :main-opts ["-m" "kaocha.runner"]}
           :outdated {:deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                      :main-opts ["-m" "antq.core"]}}}
